/* Do not change this color format, it is used in animation */
section {
  padding: 1px 0px 0px 0px; }

.normal-txt .parag {
  padding-right: 4%;
  text-align: justify; }

.divider {
  width: 150px;
  margin: 0px auto 25px auto; }

.section-box {
  margin: 20px 0px;
  padding: 0px 25px 15px 25px !important;
  font-size: 11px; }
  .section-box .section-subtitle {
    text-align: center; }

.btn-download {
  background: #005a84;
  color: #f9f8f8;
  border-radius: 3px;
  width: 63%;
  padding: 7px;
  margin: 0 auto;
  cursor: pointer; }
  .btn-download p {
    margin: 0; }
  .btn-download span {
    font-size: 15px;
    vert-align: top; }
  .btn-download img {
    width: 13px; }
  .btn-download:hover {
    background: #006b9e; }

.pdf-link {
  display: block;
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  width: 132px; }
  .pdf-link .img-pdf {
    height: 17px; }
  .pdf-link a {
    vertical-align: super; }

.contacts-container p {
  margin: 5px 0px; }

.contacts-container a.email:hover {
  color: #51c8e8; }

.contacts-container .divider {
  width: 130px; }

.contacts-container .section-box {
  padding-left: 21px !important;
  padding-top: 10px !important;
  width: 172px;
  margin-top: 121px; }
  .contacts-container .section-box .section-subtitle {
    text-align: left;
    margin-left: -1px; }
