<footer class="page-footer {% if page.footerColor %} {{ page.footerColor }} {% else %} r-light-gray-3 {% endif %}">
  <div class="container">
    <div class="row">
      <div class="col s12 r-gray-txt-1" style="padding-top:23px;">
        <img src="/static/img/RimesLogo_Grey.svg" class="rimes-logo">
        <p class="copyright">&#169; Copyright {{site.company}}</p>

        <div class="menu {% if page.footerHideMenu %} hide {% endif %}">
          <a href="/apps/support/contacts.html" target="_blank">SUPPORT</a>
          <a href="/apps/support/contacts.html" target="_blank">CONTACTS</a>
          <a href="/apps/support/download.html" target="_blank">DOWNLOADS</a>
          <a href="https://online.rimes.com/docs/wwhelp/wwhimpl/js/html/wwhelp.htm" target="_blank">ONLINE HELP</a>
          <a href="https://online.rimes.com/docs/faq/wwhelp/wwhimpl/js/html/wwhelp.htm" target="_blank">FAQ</a>
        </div>
        <br>
        <p class="support-hdr">Do you need support?</p>
        <p class="support">Global Support: <a href="mailto:{{site.email}}">{{site.email}}</a></p>

        <div class="contact">
          <div class="con-1">North America</div>
          <div class="con-2">New York</div>
          <div>+1 212 334 6866</div>
          <br>
          <div class="con-1">North America</div>
          <div class="con-2">Seattle</div>
          <div>+1 212 334 6866</div>
          <br>
          <div class="con-1">Europe</div>
          <div class="con-2">London</div>
          <div>+44 (0) 20 7743 6043</div>
          <br>
          <div class="con-1">Europe</div>
          <div class="con-2">Nicosia</div>
          <div>+357 22 028 045</div>
          <br>
          <div class="con-1">Asia Pacific</div>
          <div class="con-2">Shanghai</div>
          <div>+86 (21) 5888 6108</div>
        </div>
      </div>
    </div>
  </div>
</footer>