<div class="menu" style="display:none;"><div class="container">
  <ul>
    <li class="hdr">DATA SERVICES</li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/feedmonitor/monitor.html#/status">Feed Monitor</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/datagovernanceservice/datagovernance.html#/home">Data Governance</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/tools/holidays.wsx">Exchange Holidays</a></li>
  </ul>
  <div class="ver-divider"></div>

  <ul>
    <li class="hdr">EQUITY</li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Equity&level2=Global%20Benchmarks">Global Benchmarks</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Equity&level2=Local%20Benchmarks">Local Benchmarks</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Equity&level2=Pricing%20Databases">Pricing Databases</a></li>
  </ul>
  <div class="ver-divider"></div>

  <ul>
    <li class="hdr">FIXED INCOME</li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/feedmonitor/monitor.html#/status">Feed Monitor</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Fixed%20Income&level2=Local%20Benchmarks">Local Benchmarks</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Fixed%20Income&level2=Pricing">Pricing</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Fixed%20Income&level2=Ratings">Ratings</a></li>
  </ul>
  <div class="ver-divider"></div>

  <ul>
    <li class="hdr">RESEARCH</li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Research&level2=Economic%20Data">Economic Data</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Research&level2=Earnings%20Estimates">Earnings Estimates</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Research&level2=Fundamental%20Data">Fundamental Data</a></li>
  </ul>
  <div class="ver-divider"></div>

  <ul>
    <li class="hdr">ALTERNATIVE</li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Alternative&level2=Alternative%20Benchmarks">Alternative Benchmarks</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Alternative&level2=Hedge%20Fund">Hedge Fund</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Alternative&level2=Commodities">Commodities</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Alternative&level2=Derivatives">Derivatives</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Alternative&level2=Funds">Funds</a></li>
    <li class="opt"><a href="http://ldtestonline2.rimes.com/rimes/menu.wsx?level1=Alternative&level2=Property%20%26%20REIT">Property & REIT</a></li>
  </ul>
</div></div>