/* Do not change this color format, it is used in animation */
/* RIMES Benchmark page */
.bench-page-container .feeds-mgt, .bench-page-container .reports {
  padding-top: 52px; }
  .bench-page-container .feeds-mgt .title, .bench-page-container .reports .title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 29px; }
  .bench-page-container .feeds-mgt #card1, .bench-page-container .reports #card1 {
    background: url("/static/img/FeedDirectory_white.svg") no-repeat; }
  .bench-page-container .feeds-mgt #card2, .bench-page-container .reports #card2 {
    background: url("/static/img/FeedsMonitor_White.svg") no-repeat 0px 4px; }
  .bench-page-container .feeds-mgt #card3, .bench-page-container .reports #card3 {
    background: url("/static/img/CloudRepositry_White.svg") no-repeat; }
  .bench-page-container .feeds-mgt #card4, .bench-page-container .reports #card4 {
    background: url("/static/img/HolidayCalendar_white.svg") no-repeat; }
  .bench-page-container .feeds-mgt #card5, .bench-page-container .reports #card5 {
    background: url("/static/img/BlendsExplorer_white.svg") no-repeat;
    height: 65px;
    width: 65px; }
  .bench-page-container .feeds-mgt #card6, .bench-page-container .reports #card6 {
    background: url("/static/img/AccountReview_Blue.svg") no-repeat; }
  .bench-page-container .feeds-mgt #card7, .bench-page-container .reports #card7 {
    background: url("/static/img/FeedInventory_Blue.svg") no-repeat; }
  .bench-page-container .feeds-mgt #card8, .bench-page-container .reports #card8 {
    background: url("/static/img/Blends_Blue.svg") no-repeat; }
  .bench-page-container .feeds-mgt #card9, .bench-page-container .feeds-mgt #card10, .bench-page-container .feeds-mgt #card11, .bench-page-container .feeds-mgt #card12, .bench-page-container .feeds-mgt #card13, .bench-page-container .feeds-mgt #card14, .bench-page-container .feeds-mgt #card15, .bench-page-container .reports #card9, .bench-page-container .reports #card10, .bench-page-container .reports #card11, .bench-page-container .reports #card12, .bench-page-container .reports #card13, .bench-page-container .reports #card14, .bench-page-container .reports #card15 {
    background: url("/static/img/Cube_LightBlue.svg") no-repeat; }
  .bench-page-container .feeds-mgt #fmopt1, .bench-page-container .reports #fmopt1 {
    background: url("/static/img/FeedDirectory_Blue.svg") no-repeat 0px 1px; }
  .bench-page-container .feeds-mgt #fmopt2, .bench-page-container .reports #fmopt2 {
    background: url("/static/img/FeedsMonitor_Blue.svg") no-repeat 0px 5px; }
  .bench-page-container .feeds-mgt #fmopt3, .bench-page-container .reports #fmopt3 {
    background: url("/static/img/CloudRepositry_Blue.svg") no-repeat 0px 1px; }
  .bench-page-container .feeds-mgt #fmopt4, .bench-page-container .reports #fmopt4 {
    background: url("/static/img/HolidayCalendar_Blue.svg") no-repeat -1px 0px;
    width: 51px;
    height: 51px; }
  .bench-page-container .feeds-mgt #fmopt5, .bench-page-container .reports #fmopt5 {
    background: url("/static/img/BlendsExplorer_Blue.svg") no-repeat; }
  .bench-page-container .feeds-mgt .opts-box, .bench-page-container .reports .opts-box {
    width: 66%;
    margin: 0 auto;
    padding-bottom: 58px; }
    .bench-page-container .feeds-mgt .opts-box .img, .bench-page-container .reports .opts-box .img {
      width: 62px;
      height: 62px; }
    .bench-page-container .feeds-mgt .opts-box .opt, .bench-page-container .reports .opts-box .opt {
      display: inline-block;
      margin: 30px 3% 0px 3%;
      width: 25%;
      white-space: nowrap;
      min-width: 206px; }
    .bench-page-container .feeds-mgt .opts-box .opt-icon, .bench-page-container .reports .opts-box .opt-icon {
      margin-right: 10px; }
    .bench-page-container .feeds-mgt .opts-box .opt-label, .bench-page-container .feeds-mgt .opts-box .opt-icon, .bench-page-container .reports .opts-box .opt-label, .bench-page-container .reports .opts-box .opt-icon {
      vertical-align: middle;
      display: inline-block; }
  .bench-page-container .feeds-mgt .r-card-box.cubes .r-card, .bench-page-container .reports .r-card-box.cubes .r-card {
    margin: 9px 2% 19px 2%;
    width: 170px; }
    .bench-page-container .feeds-mgt .r-card-box.cubes .r-card .card-icon, .bench-page-container .reports .r-card-box.cubes .r-card .card-icon {
      margin-top: 10px; }
    .bench-page-container .feeds-mgt .r-card-box.cubes .r-card .card-label, .bench-page-container .reports .r-card-box.cubes .r-card .card-label {
      margin-top: 0px;
      margin-bottom: 18px; }

.bench-page-container .change-mgt {
  position: relative;
  min-height: 180px;
  padding: 52px 0px 13px 0px; }
  .bench-page-container .change-mgt .divider {
    width: 179px; }
  .bench-page-container .change-mgt .title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 29px; }
  .bench-page-container .change-mgt .ver-divider {
    height: 120px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px; }
  .bench-page-container .change-mgt .box {
    text-align: center;
    margin-top: 38px; }
    .bench-page-container .change-mgt .box .opt {
      width: 290px;
      height: 143px;
      display: inline-block;
      margin: 0px 2% 15px 2%;
      padding: 23px 0px 23px 0px; }
    .bench-page-container .change-mgt .box .opt:hover #opt1 {
      background: url("/static/img/NewFeedrequest_Orange.svg") no-repeat 0px 3px;
      height: 65px;
      width: 59px; }
    .bench-page-container .change-mgt .box .opt:hover #opt2 {
      background: url("/static/img/Changerequest_orange.svg") no-repeat; }
    .bench-page-container .change-mgt .box .opt:hover #opt3 {
      background: url("/static/img/AuditHistory_Orange.svg") no-repeat; }
    .bench-page-container .change-mgt .box .opt:hover .opt-label {
      color: #f68b1f; }
    .bench-page-container .change-mgt .box .opt-icon {
      margin: 0 auto; }
      .bench-page-container .change-mgt .box .opt-icon .img {
        width: 65px;
        height: 65px;
        display: block;
        margin: 0 auto; }
    .bench-page-container .change-mgt .box #opt1 {
      background: url("/static/img/NewsFeedRequest_New_white.svg") no-repeat; }
    .bench-page-container .change-mgt .box #opt2 {
      background: url("/static/img/Changerequest_white.svg") no-repeat; }
    .bench-page-container .change-mgt .box #opt3 {
      background: url("/static/img/AuditHistory_New_white.svg") no-repeat; }
    .bench-page-container .change-mgt .box .opt-label {
      color: #fff;
      font-size: 16px;
      text-align: center;
      margin-top: 5px; }

.bench-page-container .reports .r-card-box {
  padding-top: 20px; }

.bench-page-container .divider {
  width: 175px;
  height: 1px;
  margin: 0 auto;
  display: block;
  margin-bottom: 4px; }

.bench-page-container .reports .r-card:hover .card-label {
  color: #f68b1f !important; }

.bench-page-container .reports .r-card:hover #card6 {
  background: url("/static/img/AccountReview_orange.svg") no-repeat; }

.bench-page-container .reports .r-card:hover #card7 {
  background: url("/static/img/FeedInventory_orange.svg") no-repeat; }

.bench-page-container .reports .r-card:hover #card8 {
  background: url("/static/img/Blends_Orange.svg") no-repeat 0px -1px; }

.bench-page-container .reports .r-card:hover #card9, .bench-page-container .reports .r-card:hover #card10, .bench-page-container .reports .r-card:hover #card11, .bench-page-container .reports .r-card:hover #card12, .bench-page-container .reports .r-card:hover #card13, .bench-page-container .reports .r-card:hover #card14, .bench-page-container .reports .r-card:hover #card15 {
  background: url("/static/img/Cube_Orange.svg") no-repeat; }

.bench-page-container .feeds-mgt .r-card:hover {
  background: #f68b1f; }
  .bench-page-container .feeds-mgt .r-card:hover .card-label {
    color: #fff !important; }
  .bench-page-container .feeds-mgt .r-card:hover .card-icon {
    background: #fff !important; }
  .bench-page-container .feeds-mgt .r-card:hover #card1 {
    background: url("/static/img/FeedDirectory_orange.svg") no-repeat; }
  .bench-page-container .feeds-mgt .r-card:hover #card2 {
    background: url("/static/img/FeedsMonitor_Orange.svg") no-repeat 0px 4px; }
  .bench-page-container .feeds-mgt .r-card:hover #card3 {
    background: url("/static/img/CloudRepositry_Orange.svg") no-repeat; }
  .bench-page-container .feeds-mgt .r-card:hover #card4 {
    background: url("/static/img/HolidayCalendar_orange.svg") no-repeat; }
  .bench-page-container .feeds-mgt .r-card:hover #card5 {
    background: url("/static/img/BlendsExplorer_orange.svg") no-repeat; }

.bench-page-container .feeds-mgt .opt:hover {
  color: #f68b1f; }
  .bench-page-container .feeds-mgt .opt:hover #fmopt1 {
    background: url("/static/img/FeedDirectory_orange.svg") no-repeat; }
  .bench-page-container .feeds-mgt .opt:hover #fmopt2 {
    background: url("/static/img/FeedsMonitor_Orange.svg") no-repeat 0px 4px; }
  .bench-page-container .feeds-mgt .opt:hover #fmopt3 {
    background: url("/static/img/CloudRepositry_Orange.svg") no-repeat; }
  .bench-page-container .feeds-mgt .opt:hover #fmopt4 {
    background: url("/static/img/HolidayCalendar_orange.svg") no-repeat; }
  .bench-page-container .feeds-mgt .opt:hover #fmopt5 {
    background: url("/static/img/BlendsExplorer_orange.svg") no-repeat; }
