@import "variables";

body {
  display: -ms-flexbox;
  -ms-flex-direction: column;

  .sticky-footer {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex: 1 0 auto;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */

    .bench-page-container {
      .change-mgt {
        .opt:hover {
          #opt1 {
            background-position: 0px 0px !important;
          }
        }
      }
    }
  }
}