@import "variables";

/* RIMES login page */

.login-container {
  min-height: 893px;

  .img-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 893px;
    width: 100%;
  }

  .subtitle {
    font-size: 25px;
    margin-bottom: 3px;
  }

  .login-form {
    padding: 5px 40px 40px 40px;
    display: block;
    margin-left: auto !important;
    margin-right: auto;
    margin-top: 5%;
    float: none;
  }

  .forgot-pass {
    margin: -11px -6px 0px 0px;
    padding: 0;
  }

  .chk-field {
    margin: 0px 0px 32px 0px;
    label {
      margin: 0px;
    }
  }

  .info {
    margin-top: 40px;
    line-height: 24px;
    color: $gray-1;
  }
}