<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="Stylesheet" type="text/css" href="/static/rimes/css/login.css" type="text/css" media="screen,projection"/>
  </head>
  <body>
    <main class="sticky-footer login-container">
      <img class="img-background" src="/static/img/LoginImage.jpg">
      <header id="login-header">
        <div class="container">
          <div class="row"><div class="col s12 brand">
            <img src="/static/img/RimesLogo_Color.svg" class="brand-icon left">
            <p class="title r-light-blue-txt-1 left">{{site.title}}</p>
          </div></div>
        </div>
      </header>
      <div class="row">
        <div class="col s10 m7 l4 r-light-gray-1 login-form">
          <p class="subtitle r-dark-turquoise-txt-1">Sign In</p>
          <p class="r-error-txt hide">The user ID or password you entered is incorrect.</p>
          <div>
            <label for="userID">User ID</label>
            <input id="userID" type="text" style="margin-bottom:9px;" onkeydown="Rimes.Login.pressedEnter(event)">
          </div>
          <div>
            <label for="pass">Password</label>
            <input id="pass" type="password" onkeydown="Rimes.Login.pressedEnter(event)">
          </div>
          <p class="forgot-pass right-align"><a href="http://ldtestonline2.rimes.com/resetpassword.wsx">Forgot your Password?</a></p><br>
          <div class="chk-field">
            <input type="checkbox" id="remember-chk"><label for="remember-chk">Remember me on this device.</label>
          </div>
          <button class="r-btn-large btn-large" onclick="Rimes.Login.login()">Log In</button>
          <p class="info">If you are not a current subscriber to RIMES Online and would like further information on our services please visit the <a href="http://www.rimes.com/" target="_blank">RIMES</a> web site.</p>
        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include common-references.html %}
    <script type="text/javascript" src="/static/rimes/js/login.js"></script>
  </body>
</html>