/* Do not change this color format, it is used in animation */
body {
  display: -ms-flexbox;
  -ms-flex-direction: column; }
  body .sticky-footer {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex: 1 0 auto; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
      /* IE10+ specific styles go here */ }
      body .bench-page-container .change-mgt .opt:hover #opt1 {
        background-position: 0px 0px !important; } }
