/* Do not change this color format, it is used in animation */
/* RIMES login page */
.login-container {
  min-height: 893px; }
  .login-container .img-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-height: 893px;
    width: 100%; }
  .login-container .subtitle {
    font-size: 25px;
    margin-bottom: 3px; }
  .login-container .login-form {
    padding: 5px 40px 40px 40px;
    display: block;
    margin-left: auto !important;
    margin-right: auto;
    margin-top: 5%;
    float: none; }
  .login-container .forgot-pass {
    margin: -11px -6px 0px 0px;
    padding: 0; }
  .login-container .chk-field {
    margin: 0px 0px 32px 0px; }
    .login-container .chk-field label {
      margin: 0px; }
  .login-container .info {
    margin-top: 40px;
    line-height: 24px;
    color: #6e6864; }
